@import url("./fonts/Farsi-Digits/fonts.css");

body {
    font-family: "Vazir" !important;
    direction: rtl;
    background-color: #F7F8F9;
}

body .logo {
    padding: 100px 0 0 0;
}

body .logo img {
    width: 200;
    display: block;
    margin: 0 auto;
}

body .title h1 {
    text-align: center;
    margin-top: 40px;
}

body .title sup {
    font-size: 14px;
    top: -1.5em;
}

.links {
    text-align: center;
    margin: 40px 0;
}

.links h4 {
    margin-bottom: 1rem;
}

.ltr {
    direction: ltr;
}

footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #F7F8F9;
    margin-top: 100px;
}

footer a {
    color: #CBEC6F;
    text-decoration: underline;
}

footer a:hover {
    color: #CBEC6F;
    text-decoration: none;
}

.result {
    background-color: #525355;
    color: #F7F8F9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    direction: ltr;
}

a.back {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
}

#itBtn {
    font-size: 18px;
}

.content p {
    font-size: 18px;
    line-height: 2em;
}

.content p , .content h3{
    text-align: center;
}

.content ul {
    padding: 0;
    margin: 0;
}

.content ul li {
    text-align: center;
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
}