@import url("./fonts/Farsi-Digits/fonts.css");

body {
    font-family: "Vazir" !important;
    direction: ltr !important;
    background-color: #F7F8F9;
}

h1, h2, h3, h4, h5, h6 {
    direction: ltr !important;
}

.result {
    background-color: #525355;
    color: #F7F8F9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

a.back {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
}
